<div class="modal-header">
    <div class="modal-title" id="modal-basic-title"><strong>Pages Detail</strong></div>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-12">
            <a (click)="back()">Back</a> 
        </div>
       
        <div class="col-6" [hidden]="!presence">
            <div class="mb-2" [hidden]="!label.h1">
                <label>Headline 1</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="model.h1">
            </div>

            <div class="mb-2" [hidden]="!label.h2">
                <label>Headline 2</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="model.h2">
            </div>

            <div class="mb-2" [hidden]="!label.h3">
                <label>Headiing 3</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="model.h3">
            </div>
            <div class="mb-2" [hidden]="!label.h4">
                <label>Headline 4</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="model.h4">
            </div>

            <div class="mb-2">
                <label>Headline 5</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="model.h5">
            </div>

            <div class="mb-2">
                <label>Headiing 6</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="model.h6">
            </div>


        </div>

        <div class="col-6" [hidden]="!presence">
            <div class="mb-2">
                <label>Href</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="model.href" placeholder="https://">
            </div>
            <div class="mb-2">
                <div class="row">
                    <div class="col"><label for="img" class="form-label">Images {{httpNote}}</label></div>
                    <div class="col text-end"><a href="javascript:;" class="text-danger" (click)="rmImages()">Remove Images</a></div>
                </div>
                <div [hidden]="!this.model.img">
                    <img [src]="this.model.img" class="border p-1 bg-light w-100 mb-1">
                </div>

                <input type="file" class="form-control form-control-sm mb-1" (change)="onFileSelected($event)">

                <input type="text" id="img" class="form-control form-control-sm" id="img" [(ngModel)]="model.img" name="img" #img="ngModel" placeholder="Url Images">

            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <span [hidden]="!loading">Loading...</span>
    <button type="button" class="btn btn-sm btn-primary mx-1" (click)="update()">Update</button>
    <button type="button" class="btn btn-sm btn-outline-dark" (click)="close()">Close</button>
</div>