<div class="modal-header">
    <div class="modal-title" id="modal-basic-title"><strong>Pages Detail</strong></div>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <div class="row g-0">
        <div class="col-6">
            asdf
        </div>
        <div class="col-6">
            asdfadf
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
</div>