.text {
    outline: 1px dashed #1976D2;
}

.text:focus,
.text:hover {
    outline: 2px solid #1976D2;
}

.cms7LabelText {
    font-size: 0.8rem;
    opacity: 0.8;
    font-style: italic;
}

.cms7LoadingFixed {
    position: fixed;
    display: none;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    -webkit-box-shadow: 0px -1px 2px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.1);
    box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.1);
    z-index: 999999;
}

.cms7LoadingFixed div {
    margin: 10px auto;
    text-align: center;
}

.cms7btn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.cms7btn:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

.cms7btn:active {
    position: relative;
    top: 1px;
}
.cms7Warning{
    font-size: 0.8rem;
    font-style: italic;
    color: #CD1818;
    border:1px solid #CD1818;
    background-color:#fff ;
    padding: 4px;
}